/* 
 * Akien Regional Medical Center 
 * ==========
 * themes/armc
 */
/* 
 * Mixins
 * ==========
 * breakpoints - map of screen size key & value pairs
 * respond-to - manage responsive rules
 * clearfix
 * fontface
 */
/*
 * Define media breakpoints map
 */
/*
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Helper to clear inner floats
 * @author Nicolas Gallagher
 * @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
 */
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/*
@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}
*/
/*
 * Variables
 * ==========
 * 
 */
/* 
 * Functions
 * ==========
 * 
 */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=6a1e4f2f-b7ec-40c2-aa92-d11777faa940");
/* 
 * @font-face{
 *   font-family:"Avenir LT W01_45 Book O1475514";
 *  src:url("../../assets/fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),
 *  url("../../latest/assets/fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff");
 * }
 */
/*
 * Akien Blue & Gold
 * HERO_digital Cool
 * ==========
 */
.armc {
  font-family: "Avenir", Arial, Sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  color: #3b4045;
  -webkit-font-smoothing: antialiased;
  color: #3b4659;
  background-color: #ffffff;
}

.armc h1, .armc h2, .armc h3, .armc h4, .armc h5, .armc h6, .armc p {
  font-style: normal;
}

.armc h1, .armc h2, .armc h3, .armc h4, .armc h5, .armc h6 {
  margin-bottom: 1.25rem;
}

.armc h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.15;
}

.armc h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.armc h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}

.armc h4 {
  font-size: 1.5rem;
}

.armc h5 {
  font-size: 1.125rem;
}

.armc h6 {
  font-size: 0.625rem;
}

.armc p {
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}

.armc p,
.armc ul li,
.armc ol li {
  color: #747474;
}

.armc strong {
  color: #525252;
  font-weight: 500;
}

.armc .primary {
  background-color: #003769;
}

.armc .primary_s10, .armc .primary_s100 {
  background-color: #ffffff;
}

.armc .primary_s095 {
  background-color: #e9f4ff;
}

.armc .primary_s09, .armc .primary_s090 {
  background-color: #cfe8ff;
}

.armc .primary_s085 {
  background-color: #b6dcff;
}

.armc .primary_s08, .armc .primary_s080 {
  background-color: #9cd0ff;
}

.armc .primary_s075 {
  background-color: #83c4ff;
}

.armc .primary_s07, .armc .primary_s070 {
  background-color: #69b8ff;
}

.armc .primary_s065 {
  background-color: #50abff;
}

.armc .primary_s06, .armc .primary_s060 {
  background-color: #369fff;
}

.armc .primary_s055 {
  background-color: #1d93ff;
}

.armc .primary_s05, .armc .primary_s050 {
  background-color: #0387ff;
}

.armc .primary_s045 {
  background-color: #007ae9;
}

.armc .primary_s04, .armc .primary_s040 {
  background-color: #006ccf;
}

.armc .primary_s035 {
  background-color: #005fb6;
}

.armc .primary_s03, .armc .primary_s030 {
  background-color: #00529c;
}

.armc .primary_s025 {
  background-color: #004483;
}

.armc .primary_s02, .armc .primary_s020 {
  background-color: #003769;
}

.armc .primary_s015 {
  background-color: #002a50;
}

.armc .primary_s01, .armc .primary_s010 {
  background-color: #001c36;
}

.armc .primary_s005 {
  background-color: #000f1d;
}

.armc .primary_s00, .armc .primary_s000 {
  background-color: #000000;
}

.armc .secondary {
  background-color: #3b4659;
}

.armc .accent {
  background-color: #1091cc;
}

.armc .alt {
  background-color: #e8bd5c;
}

.armc .neutral {
  background-color: #f2f7fb;
}

/*
 * Platforms
 */
.congo.armc {
  /*
     * ------------------------
     * OVERWRITE DEFAULT COLORS 
     * ------------------------
     * .awards {
     *   background-color: lighten( $mono, 45% );
     *   .awarded-by h4.award-text,
     *   .awarded-by h4.award-text_no-subtext,
     *   .awarded-by p.award-subtext {
     *       color: darken( $mono, 20% );
     *   }
     *  }
     */
}

.congo.armc header a.phone {
  color: #1b5081;
}

.congo.armc header a.phone:hover {
  color: #001c36;
}

.congo.armc .hero a.button {
  background-color: #1b5081;
}

.congo.armc .hero a.button:hover {
  background-color: #001c36;
}

.congo.armc .hero a.button span {
  color: #fff;
}

.congo.armc .form-container {
  background-color: rgba(27, 80, 129, 0.85);
}

.congo.armc .form-container h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25em;
}

.congo.armc .form-container p,
.congo.armc .form-container label {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.2rem;
}

.congo.armc .form-container strong {
  color: #ffffff;
  font-weight: 600;
}

.congo.armc .form-container button[type=submit] {
  background: #1091cc;
  color: #ffffff;
  border: 1px solid #1091cc;
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: inherit;
}

.congo.armc .form-container button[type=submit]:hover {
  background: #003769;
  border: 1px solid #003769;
  cursor: pointer;
}

.congo.armc .teasers .teaser h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  font-style: normal;
  line-height: 1.5rem;
}

.congo.armc .call-ribbon {
  background-color: #1091cc;
}

.congo.armc .call-ribbon h3, .congo.armc .call-ribbon a {
  color: #ffffff;
}

.congo.armc .call-ribbon a:hover {
  color: #c7eafb;
}

.congo.armc .location-addr a {
  color: #1b5081;
}

.congo.armc .location-addr a:hover {
  color: #001c36;
}

.congo.armc .location-addr h4 {
  font-weight: 600;
  font-size: 22px;
}

.congo.armc footer {
  background-color: #3b4659;
}

.congo.armc footer p {
  color: rgba(243, 243, 243, 0.6);
  font-size: .75rem;
  line-height: .9375rem;
}

.d7.armc header .main-nav_wrapper,
.d8.armc header .main-nav_wrapper,
.kyruus.armc header .main-nav_wrapper {
  background-color: #ffffff;
}

.d7.armc header a,
.d8.armc header a,
.kyruus.armc header a {
  color: #1069af;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

.d7.armc header a:hover,
.d8.armc header a:hover,
.kyruus.armc header a:hover {
  color: #075498;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .d7.armc header .logo img,
  .d8.armc header .logo img,
  .kyruus.armc header .logo img {
    display: block;
    width: 200px;
    height: auto;
  }
}

@media (min-width: 376px) {
  .d7.armc header .logo img,
  .d8.armc header .logo img,
  .kyruus.armc header .logo img {
    display: block;
    width: 300px;
    height: auto;
  }
}

.d7.armc footer.d7,
.d7.armc footer.d8,
.d8.armc footer.d7,
.d8.armc footer.d8,
.kyruus.armc footer.d7,
.kyruus.armc footer.d8 {
  background-color: #465062;
}

.d7.armc footer.d7 p,
.d7.armc footer.d8 p,
.d8.armc footer.d7 p,
.d8.armc footer.d8 p,
.kyruus.armc footer.d7 p,
.kyruus.armc footer.d8 p {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
}

.d7.armc footer.d7 a,
.d7.armc footer.d8 a,
.d8.armc footer.d7 a,
.d8.armc footer.d8 a,
.kyruus.armc footer.d7 a,
.kyruus.armc footer.d8 a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

.d7.armc footer.d7 a:hover,
.d7.armc footer.d8 a:hover,
.d8.armc footer.d7 a:hover,
.d8.armc footer.d8 a:hover,
.kyruus.armc footer.d7 a:hover,
.kyruus.armc footer.d8 a:hover {
  text-decoration: underline;
}

.d7.armc footer.d7 .name,
.d7.armc footer.d7 .footer-bottom .name,
.d7.armc footer.d8 .name,
.d7.armc footer.d8 .footer-bottom .name,
.d8.armc footer.d7 .name,
.d8.armc footer.d7 .footer-bottom .name,
.d8.armc footer.d8 .name,
.d8.armc footer.d8 .footer-bottom .name,
.kyruus.armc footer.d7 .name,
.kyruus.armc footer.d7 .footer-bottom .name,
.kyruus.armc footer.d8 .name,
.kyruus.armc footer.d8 .footer-bottom .name {
  font-size: 1.25rem;
  font-weight: 900;
}

.d7.armc footer.d7 .footer-bottom,
.d7.armc footer.d8 .footer-bottom,
.d8.armc footer.d7 .footer-bottom,
.d8.armc footer.d8 .footer-bottom,
.kyruus.armc footer.d7 .footer-bottom,
.kyruus.armc footer.d8 .footer-bottom {
  background-color: #3c475a;
}

.d7.armc footer.d8 ul.main-nav li a,
.d8.armc footer.d8 ul.main-nav li a,
.kyruus.armc footer.d8 ul.main-nav li a {
  color: #5fcef7 !important;
  font-size: .75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.d7.armc footer.d8 ul.main-nav li a:hover,
.d8.armc footer.d8 ul.main-nav li a:hover,
.kyruus.armc footer.d8 ul.main-nav li a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.d7.armc footer.d8 .footer-bottom p,
.d8.armc footer.d8 .footer-bottom p,
.kyruus.armc footer.d8 .footer-bottom p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: .75rem;
  line-height: 1.125rem;
}

.d7.armc footer.d8 .footer-bottom a,
.d8.armc footer.d8 .footer-bottom a,
.kyruus.armc footer.d8 .footer-bottom a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  text-decoration: none;
}

.d7.armc footer.d8 .footer-bottom a:hover,
.d8.armc footer.d8 .footer-bottom a:hover,
.kyruus.armc footer.d8 .footer-bottom a:hover {
  color: #ffffff;
  text-decoration: none;
}

.d7.armc footer.d8 .footer-bottom .name,
.d7.armc footer.d8 .footer-bottom .footer-bottom .name,
.d8.armc footer.d8 .footer-bottom .name,
.d8.armc footer.d8 .footer-bottom .footer-bottom .name,
.kyruus.armc footer.d8 .footer-bottom .name,
.kyruus.armc footer.d8 .footer-bottom .footer-bottom .name {
  color: #ffffff;
}

.d7.armc footer.d8 .footer-bottom ul.main-nav li a,
.d8.armc footer.d8 .footer-bottom ul.main-nav li a,
.kyruus.armc footer.d8 .footer-bottom ul.main-nav li a {
  color: #5fcef7 !important;
  font-size: .75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.d7.armc footer.d8 .footer-bottom ul.main-nav li a:hover,
.d8.armc footer.d8 .footer-bottom ul.main-nav li a:hover,
.kyruus.armc footer.d8 .footer-bottom ul.main-nav li a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.d7.armc footer.d8 .footer-bottom ul.legal,
.d8.armc footer.d8 .footer-bottom ul.legal,
.kyruus.armc footer.d8 .footer-bottom ul.legal {
  margin-top: 0;
}

.d7.armc footer.d8 .footer-bottom ul.legal li,
.d8.armc footer.d8 .footer-bottom ul.legal li,
.kyruus.armc footer.d8 .footer-bottom ul.legal li {
  display: inline-block;
  font-size: .75rem;
  line-height: 1.125rem;
}

.d7.armc footer.d8 .footer-bottom ul.legal li:after,
.d8.armc footer.d8 .footer-bottom ul.legal li:after,
.kyruus.armc footer.d8 .footer-bottom ul.legal li:after {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
}

.d7.armc footer.d8 .footer-bottom ul.legal li a,
.d8.armc footer.d8 .footer-bottom ul.legal li a,
.kyruus.armc footer.d8 .footer-bottom ul.legal li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  text-decoration: underline;
}

.d7.armc footer.d8 .footer-bottom ul.legal li a:hover,
.d8.armc footer.d8 .footer-bottom ul.legal li a:hover,
.kyruus.armc footer.d8 .footer-bottom ul.legal li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.d7.armc footer.d7 ul.main-nav li a,
.d8.armc footer.d7 ul.main-nav li a,
.kyruus.armc footer.d7 ul.main-nav li a {
  color: #5fcef7 !important;
  font-size: .75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.d7.armc footer.d7 ul.main-nav li a:hover,
.d8.armc footer.d7 ul.main-nav li a:hover,
.kyruus.armc footer.d7 ul.main-nav li a:hover {
  color: #5fcef7 !important;
  text-decoration: underline;
}

.d7.armc footer.d7 .footer-bottom p,
.d8.armc footer.d7 .footer-bottom p,
.kyruus.armc footer.d7 .footer-bottom p {
  color: #ffffff;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1.125rem;
}

.d7.armc footer.d7 .footer-bottom a,
.d8.armc footer.d7 .footer-bottom a,
.kyruus.armc footer.d7 .footer-bottom a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

.d7.armc footer.d7 .footer-bottom a:hover,
.d8.armc footer.d7 .footer-bottom a:hover,
.kyruus.armc footer.d7 .footer-bottom a:hover {
  text-decoration: underline;
}

.d7.armc footer.d7 .footer-bottom ul.legal,
.d8.armc footer.d7 .footer-bottom ul.legal,
.kyruus.armc footer.d7 .footer-bottom ul.legal {
  margin-top: 0;
}

.d7.armc footer.d7 .footer-bottom ul.legal li,
.d8.armc footer.d7 .footer-bottom ul.legal li,
.kyruus.armc footer.d7 .footer-bottom ul.legal li {
  display: inline-block;
  font-size: .75rem;
  line-height: 1.125rem;
}

.d7.armc footer.d7 .footer-bottom ul.legal li:after,
.d8.armc footer.d7 .footer-bottom ul.legal li:after,
.kyruus.armc footer.d7 .footer-bottom ul.legal li:after {
  color: #ffffff;
  font-weight: 600;
}

.d7.armc footer.d7 .footer-bottom ul.legal li a,
.d8.armc footer.d7 .footer-bottom ul.legal li a,
.kyruus.armc footer.d7 .footer-bottom ul.legal li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

.d7.armc footer.d7 .footer-bottom ul.legal li a:hover,
.d8.armc footer.d7 .footer-bottom ul.legal li a:hover,
.kyruus.armc footer.d7 .footer-bottom ul.legal li a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

/* Call-to-Action
 * -----------------
 * linked containers
 */
/* a.button {

    body.armc & {

        &.primary,
        &__primary {
            background-color: $primary;
            &:visited { }
            &:hover { }
            &:active { }
        }

        &.secondary,
        &__secondary {
            background-color: $secondary;
            &:visited { }
            &:hover { }
            &:active { }
        }

        &.accent,
        &__accent {
            background-color: $accent;
            &:visited { }
            &:hover { }
            &:active { }
        }

        &.alt,
        &__alt {
            background-color: $alt;
            &:visited { }
            &:hover { }
            &:active { }
        }

        &.neutral,
        &__neutral {
            background-color: $neutral;
            &:visited { }
            &:hover { }
            &:active { }
        }

    }
} */
