/*
 * Variables
 * ==========
 * 
 */
// Grid
$standard-grid: 12;

// Colors
$red: red;

// Monochromic
$white: #ffffff;
$black: #000000;
$mono: #808080;  // mono - Neutral Density Grey
$squid: #656e80; // squid - a cooler Monochromic alternative
$sepia: #806b61; // sepia - a warmer Monochromic alternative